<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- <app-menu [menuItems]="yourMenuData"></app-menu> -->
      <!-- <app-header></app-header> -->
      <!-- <app-main-content></app-main-content> -->
      <router-outlet></router-outlet>
  </div>

  <div class="layout-overlay layout-menu-toggle"></div>
</div>

<!-- <div class="buy-now">
  <a
    href="https://themeselection.com/item/materio-bootstrap-html-admin-template/"
    target="_blank"
    class="btn btn-danger btn-buy-now"
    >Upgrade to Pro</a
  >
</div> -->
