<div class="d-flex justify-content-between align-items-center w-100 mb-3">
  <h2 class="card-header mb-0">Add a new Product</h2>
  <div >
    <button type="button" class="btn btn-secondary waves-effect waves-light mr-10">
      Secondary
    </button>
    <button type="button" class="btn btn-success waves-effect waves-light">Success</button>
  </div>
</div>
<div class="card">
  <h2 class="card-header mb-0">Product Information</h2>
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <div class="mb-3">
          <label for="formFile" class="form-label"
            >Name</label
          >
          <input class="form-control" type="text" id="formFile" placeholder="Product Name" />
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="formFile" class="form-label"
            >Slug</label
          >
          <input class="form-control" type="text" id="formFile" placeholder="Product Slug" />
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="defaultSelect" class="form-label">Package</label>
          <select id="defaultSelect" class="form-select">
            <option>Select Package</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="defaultSelect" class="form-label">Brand</label>
          <select id="defaultSelect" class="form-select">
            <option>Select Brand</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="formFile" class="form-label"
            >Featured Image</label
          >
          <input class="form-control" type="file" id="formFile" />
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="formFile" class="form-label"
            >Images</label
          >
          <input class="form-control" type="file" id="formFile" />
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="formFile" class="form-label"
            >Cost</label
          >
          <input class="form-control" type="text" id="formFile" />
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="formFile" class="form-label"
            >Price</label
          >
          <input class="form-control" type="text" id="formFile" />
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="formFile" class="form-label"
            >SKU</label
          >
          <input class="form-control" type="text" id="formFile" />
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="formFile" class="form-label"
            >Quantity</label
          >
          <input class="form-control" type="text" id="formFile" />
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="formFile" class="form-label"
            >ROI</label
          >
          <input class="form-control" type="text" id="formFile" />
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="formFile" class="form-label"
            >ROI Days</label
          >
          <input class="form-control" type="text" id="formFile" />
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="defaultSelect" class="form-label">Active</label>
          <select id="defaultSelect" class="form-select">
            <option>Default select</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
    </div>
      <div class="col-6">
    </div>
    <div class="col-6">
      <label for="formFile" class="form-label"
      >Short Description</label
    >
      <p-editor [style]="{ height: '320px' }" />
    </div>
    <div class="col-6">
      <label for="formFile" class="form-label"
      >Description</label
    >
      <p-editor [style]="{ height: '320px' }" />
    </div>
  </div>
</div>
