<div class="d-flex justify-content-between align-items-center w-100 mb-3">
  <h2 class="card-header mb-0">Profile</h2>
  <div >
    <button type="button" class="btn btn-secondary waves-effect waves-light mr-10">
      Secondary
    </button>
    <button type="button" class="btn btn-success waves-effect waves-light">Success</button>
  </div>
</div>
<div class="card">
  <h2 class="card-header mb-0">User Information</h2>
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <div class="mb-3">
          <label for="formFile" class="form-label"
            >Name</label
          >
          <input class="form-control" type="text" id="formFile" placeholder="Product Name" />
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="formFile" class="form-label"
            >E-mail</label
          >
          <input class="form-control" type="text" id="formFile" placeholder="Product Slug" />
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="formFile" class="form-label"
            >Phone Number</label
          >
          <input class="form-control" type="text" id="formFile" placeholder="Product Slug" />
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="formFile" class="form-label"
            >Address</label
          >
          <input class="form-control" type="text" id="formFile" placeholder="Product Slug" />
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="formFile" class="form-label"
            >Package Name</label
          >
          <input class="form-control" disabled type="text" id="formFile" placeholder="Product Slug" />
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="formFile" class="form-label"
            >Old Password</label
          >
          <input class="form-control" type="password" id="formFile" placeholder="Product Slug" />
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="formFile" class="form-label"
            >New Password</label
          >
          <input class="form-control" type="password" id="formFile" placeholder="Product Slug" />
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="formFile" class="form-label"
            >Confirm Password</label
          >
          <input class="form-control" type="password" id="formFile" placeholder="Product Slug" />
        </div>
      </div>


  </div>
</div>
