<div class="content-wrapper">
  <div class="flex-grow-1 container-p-y">
    @if (AppConst.admin) {
    <div class="row gy-4">

    <div class="col-md-12 col-lg-4">
      <div class="card">
        <div class="card-body" style="height: 140px;">
          <h4 class="card-title mb-1">Welcome {{dashboarddata.brand}} 🎉</h4>
          <!-- <p class="pb-0">Best seller of the month</p>
          <h4 class="text-primary mb-1">$42.8k</h4>
          <p class="mb-2 pb-1">78% of target 🚀</p> -->
          <!-- <a href="javascript:;" class="btn btn-sm btn-primary">View Sales</a> -->
          <button type="button" class="btn btn-primary waves-effect waves-light">View Orders</button>
        </div>
        <!-- <img
          src="../assets/img/icons/misc/triangle-light.png"
          class="scaleX-n1-rtl position-absolute bottom-0 end-0"
          width="166"
          alt="triangle background"
          data-app-light-img="icons/misc/triangle-light.png"
          data-app-dark-img="icons/misc/triangle-dark.png"
        /> -->
        <img
          src="../assets/img/illustrations/trophy.png"
          class="scaleX-n1-rtl position-absolute bottom-0 end-0 me-4 mb-3"
          width="83"
          alt="view sales"
        />
      </div>
    </div>

    <div class="col-sm-6 col-lg-3 mb-6">
      <div class="card card-border-shadow-primary h-100">
        <div class="card-body">
          <div class="d-flex align-items-center mb-2">
            <div class="avatar me-4">
              <span class="avatar-initial rounded bg-label-primary"><i class="ri-car-line ri-24px"></i></span>
            </div>
            <h4 class="mb-0">42</h4>
          </div>
          <h6 class="mb-0 fw-normal">On route vehicles</h6>
          <p class="mb-0">
            <span class="me-1 fw-medium">+18.2%</span>
            <small class="text-muted">than last week</small>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3 mb-6">
      <div class="card card-border-shadow-primary h-100">
        <div class="card-body">
          <div class="d-flex align-items-center mb-2">
            <div class="avatar me-4">
              <span class="avatar-initial rounded bg-label-primary"><i class="ri-car-line ri-24px"></i></span>
            </div>
            <h4 class="mb-0">42</h4>
          </div>
          <h6 class="mb-0 fw-normal">On route vehicles</h6>
          <p class="mb-0">
            <span class="me-1 fw-medium">+18.2%</span>
            <small class="text-muted">than last week</small>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-2 mb-6">
      <div class="card card-border-shadow-primary h-100">
        <div class="card-body">
          <div class="d-flex align-items-center mb-2">
            <div class="avatar me-4">
              <span class="avatar-initial rounded bg-label-primary"><i class="ri-car-line ri-24px"></i></span>
            </div>
            <h4 class="mb-0">42</h4>
          </div>
          <h6 class="mb-0 fw-normal">On route vehicles</h6>
          <p class="mb-0">
            <span class="me-1 fw-medium">+18.2%</span>
            <small class="text-muted">than last week</small>
          </p>
        </div>
      </div>
    </div>

    <div class="flex-grow-1 container-p-y">

      <div class="card mb-4">
        <div class="card-body">
          <div class="row g-3">

            <div class="col-md-3 col-6 border-right-custom">
              <div class="d-flex align-items-center justify-content-between">
                <h3 class="mb-0">245k</h3>
                <div class="avatar">
                  <div class="avatar-initial bg-primary rounded shadow">
                    <i class="mdi mdi-trending-up mdi-24px"></i>
                  </div>
                </div>
              </div>
              <div>
                <div class="fs-big mb-1">Sales</div>
              </div>
            </div>

            <div class="col-md-3 col-6 border-right-custom">
              <div class="d-flex align-items-center justify-content-between">
               <h3 class="mb-0">12.5k</h3>
                <div class="avatar">
                  <div class="avatar-initial bg-success rounded shadow">
                    <i class="mdi mdi-account-outline mdi-24px"></i>
                  </div>
                </div>
              </div>
              <div>
                <div class="fs-big mb-1">Customers</div>
              </div>
            </div>

            <div class="col-md-3 col-6 border-right-custom">
              <div class="d-flex align-items-center justify-content-between">
               <h3 class="mb-0">1.54k</h3>
                <div class="avatar">
                  <div class="avatar-initial bg-warning rounded shadow">
                    <i class="mdi mdi-cellphone-link mdi-24px"></i>
                  </div>
                </div>
              </div>
              <div>
                <div class="fs-big mb-1">Product</div>
              </div>
            </div>

            <div class="col-md-3 col-6">
              <div class="d-flex align-items-center justify-content-between">
               <h3 class="mb-0">$88k</h3>
                <div class="avatar">
                  <div class="avatar-initial bg-info rounded shadow">
                    <i class="mdi mdi-currency-usd mdi-24px"></i>
                  </div>
                </div>
              </div>
              <div>
                <div class="fs-big mb-1">Revenue</div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="col-sm-6 col-lg-3 mb-6">
      <div class="card card-border-shadow-primary h-100">
        <div class="card-body">
          <div class="d-flex align-items-center mb-2">
            <div class="avatar me-4">
              <span class="avatar-initial rounded bg-label-primary"><i class="ri-car-line ri-24px"></i></span>
            </div>
            <h4 class="mb-0">42</h4>
          </div>
          <h6 class="mb-0 fw-normal">On route vehicles</h6>
          <p class="mb-0">
            <span class="me-1 fw-medium">+18.2%</span>
            <small class="text-muted">than last week</small>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3 mb-6">
      <div class="card card-border-shadow-primary h-100">
        <div class="card-body">
          <div class="d-flex align-items-center mb-2">
            <div class="avatar me-4">
              <span class="avatar-initial rounded bg-label-primary"><i class="ri-car-line ri-24px"></i></span>
            </div>
            <h4 class="mb-0">42</h4>
          </div>
          <h6 class="mb-0 fw-normal">On route vehicles</h6>
          <p class="mb-0">
            <span class="me-1 fw-medium">+18.2%</span>
            <small class="text-muted">than last week</small>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3 mb-6">
      <div class="card card-border-shadow-primary h-100">
        <div class="card-body">
          <div class="d-flex align-items-center mb-2">
            <div class="avatar me-4">
              <span class="avatar-initial rounded bg-label-primary"><i class="ri-car-line ri-24px"></i></span>
            </div>
            <h4 class="mb-0">42</h4>
          </div>
          <h6 class="mb-0 fw-normal">On route vehicles</h6>
          <p class="mb-0">
            <span class="me-1 fw-medium">+18.2%</span>
            <small class="text-muted">than last week</small>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3 mb-6">
      <div class="card card-border-shadow-primary h-100">
        <div class="card-body">
          <div class="d-flex align-items-center mb-2">
            <div class="avatar me-4">
              <span class="avatar-initial rounded bg-label-primary"><i class="ri-car-line ri-24px"></i></span>
            </div>
            <h4 class="mb-0">42</h4>
          </div>
          <h6 class="mb-0 fw-normal">On route vehicles</h6>
          <p class="mb-0">
            <span class="me-1 fw-medium">+18.2%</span>
            <small class="text-muted">than last week</small>
          </p>
        </div>
      </div>
    </div>

  </div>
}

    @if (AppConst.seller) {
      <div class="row gy-4">

        <div class="col-md-12 col-lg-4">
          <div class="card">
            <div class="card-body" style="height: 140px;">
              <h4 class="card-title mb-1">Welcome {{dashboarddata.brand}} 🎉</h4>
              <!-- <p class="pb-0">Best seller of the month</p>
              <h4 class="text-primary mb-1">$42.8k</h4>
              <p class="mb-2 pb-1">78% of target 🚀</p> -->
              <!-- <a href="javascript:;" class="btn btn-sm btn-primary">View Sales</a> -->
              <button type="button" class="btn btn-primary waves-effect waves-light">View Orders</button>
            </div>
            <!-- <img
              src="../assets/img/icons/misc/triangle-light.png"
              class="scaleX-n1-rtl position-absolute bottom-0 end-0"
              width="166"
              alt="triangle background"
              data-app-light-img="icons/misc/triangle-light.png"
              data-app-dark-img="icons/misc/triangle-dark.png"
            /> -->
            <img
              src="../assets/img/illustrations/trophy.png"
              class="scaleX-n1-rtl position-absolute bottom-0 end-0 me-4 mb-3"
              width="83"
              alt="view sales"
            />
          </div>
        </div>

        <div class="col-sm-6 col-lg-3 mb-6">
          <div class="card card-border-shadow-primary h-100">
            <div class="card-body">
              <div class="d-flex align-items-center mb-2">
                <div class="avatar me-4">
                  <span class="avatar-initial rounded bg-label-primary"><i class="ri-car-line ri-24px"></i></span>
                </div>
                <h4 class="mb-0">42</h4>
              </div>
              <h6 class="mb-0 fw-normal">On route vehicles</h6>
              <p class="mb-0">
                <span class="me-1 fw-medium">+18.2%</span>
                <small class="text-muted">than last week</small>
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3 mb-6">
          <div class="card card-border-shadow-primary h-100">
            <div class="card-body">
              <div class="d-flex align-items-center mb-2">
                <div class="avatar me-4">
                  <span class="avatar-initial rounded bg-label-primary"><i class="ri-car-line ri-24px"></i></span>
                </div>
                <h4 class="mb-0">42</h4>
              </div>
              <h6 class="mb-0 fw-normal">On route vehicles</h6>
              <p class="mb-0">
                <span class="me-1 fw-medium">+18.2%</span>
                <small class="text-muted">than last week</small>
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-2 mb-6">
          <div class="card card-border-shadow-primary h-100">
            <div class="card-body">
              <div class="d-flex align-items-center mb-2">
                <div class="avatar me-4">
                  <span class="avatar-initial rounded bg-label-primary"><i class="ri-car-line ri-24px"></i></span>
                </div>
                <h4 class="mb-0">42</h4>
              </div>
              <h6 class="mb-0 fw-normal">On route vehicles</h6>
              <p class="mb-0">
                <span class="me-1 fw-medium">+18.2%</span>
                <small class="text-muted">than last week</small>
              </p>
            </div>
          </div>
        </div>

        <div class="flex-grow-1 container-p-y">

          <div class="card mb-4">
            <div class="card-body">
              <div class="row g-3">

                <div class="col-md-3 col-6 border-right-custom">
                  <div class="d-flex align-items-center justify-content-between">
                    <h3 class="mb-0">245k</h3>
                    <div class="avatar">
                      <div class="avatar-initial bg-primary rounded shadow">
                        <i class="mdi mdi-trending-up mdi-24px"></i>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="fs-big mb-1">Sales</div>
                  </div>
                </div>

                <div class="col-md-3 col-6 border-right-custom">
                  <div class="d-flex align-items-center justify-content-between">
                   <h3 class="mb-0">12.5k</h3>
                    <div class="avatar">
                      <div class="avatar-initial bg-success rounded shadow">
                        <i class="mdi mdi-account-outline mdi-24px"></i>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="fs-big mb-1">Customers</div>
                  </div>
                </div>

                <div class="col-md-3 col-6 border-right-custom">
                  <div class="d-flex align-items-center justify-content-between">
                   <h3 class="mb-0">1.54k</h3>
                    <div class="avatar">
                      <div class="avatar-initial bg-warning rounded shadow">
                        <i class="mdi mdi-cellphone-link mdi-24px"></i>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="fs-big mb-1">Product</div>
                  </div>
                </div>

                <div class="col-md-3 col-6">
                  <div class="d-flex align-items-center justify-content-between">
                   <h3 class="mb-0">$88k</h3>
                    <div class="avatar">
                      <div class="avatar-initial bg-info rounded shadow">
                        <i class="mdi mdi-currency-usd mdi-24px"></i>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="fs-big mb-1">Revenue</div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>

        <div class="col-sm-6 col-lg-3 mb-6">
          <div class="card card-border-shadow-primary h-100">
            <div class="card-body">
              <div class="d-flex align-items-center mb-2">
                <div class="avatar me-4">
                  <span class="avatar-initial rounded bg-label-primary"><i class="ri-car-line ri-24px"></i></span>
                </div>
                <h4 class="mb-0">42</h4>
              </div>
              <h6 class="mb-0 fw-normal">On route vehicles</h6>
              <p class="mb-0">
                <span class="me-1 fw-medium">+18.2%</span>
                <small class="text-muted">than last week</small>
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3 mb-6">
          <div class="card card-border-shadow-primary h-100">
            <div class="card-body">
              <div class="d-flex align-items-center mb-2">
                <div class="avatar me-4">
                  <span class="avatar-initial rounded bg-label-primary"><i class="ri-car-line ri-24px"></i></span>
                </div>
                <h4 class="mb-0">42</h4>
              </div>
              <h6 class="mb-0 fw-normal">On route vehicles</h6>
              <p class="mb-0">
                <span class="me-1 fw-medium">+18.2%</span>
                <small class="text-muted">than last week</small>
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3 mb-6">
          <div class="card card-border-shadow-primary h-100">
            <div class="card-body">
              <div class="d-flex align-items-center mb-2">
                <div class="avatar me-4">
                  <span class="avatar-initial rounded bg-label-primary"><i class="ri-car-line ri-24px"></i></span>
                </div>
                <h4 class="mb-0">42</h4>
              </div>
              <h6 class="mb-0 fw-normal">On route vehicles</h6>
              <p class="mb-0">
                <span class="me-1 fw-medium">+18.2%</span>
                <small class="text-muted">than last week</small>
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3 mb-6">
          <div class="card card-border-shadow-primary h-100">
            <div class="card-body">
              <div class="d-flex align-items-center mb-2">
                <div class="avatar me-4">
                  <span class="avatar-initial rounded bg-label-primary"><i class="ri-car-line ri-24px"></i></span>
                </div>
                <h4 class="mb-0">42</h4>
              </div>
              <h6 class="mb-0 fw-normal">On route vehicles</h6>
              <p class="mb-0">
                <span class="me-1 fw-medium">+18.2%</span>
                <small class="text-muted">than last week</small>
              </p>
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-md-6">
          <div class="card overflow-hidden p-2">
            <div class="table-responsive">
              <h3 class="pl-10">Popular Products</h3>
              <table class="table table-sm">
                <tbody>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img src="../../../../../assets/img/avatars/1.png" height="40" alt="message" data-app-light-img="icons/misc/message-light.png" data-app-dark-img="icons/misc/message-dark.png">
                        <div class="ms-4 d-flex flex-column">
                          <p class="mb-0">Pepsodent Herbal Toothpaste</p>
                          <h5 class="mb-0">ROI 2%</h5>
                        </div>
                      </div>
                    </td>
                    <td class="text-truncate"><div>
                          <h6 class="mb-0 text-truncate">Jordan Stevenson</h6>
                          <small class="text-truncate">"&#64;"amiccoo</small>
                        </div></td>
                    <td class="text-truncate">
                      <div class="d-flex align-items-center">
                        <i class="ri-vip-crown-line ri-22px text-primary me-2"></i>
                        <span>Admin</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img src="../../../../../assets/img/avatars/1.png" height="40" alt="message" data-app-light-img="icons/misc/message-light.png" data-app-dark-img="icons/misc/message-dark.png">
                        <div class="ms-4 d-flex flex-column">
                          <p class="mb-0">Pepsodent Herbal Toothpaste</p>
                          <h5 class="mb-0">ROI 2%</h5>
                        </div>
                      </div>
                    </td>
                    <td class="text-truncate"><div>
                          <h6 class="mb-0 text-truncate">Benedetto Rossiter</h6>
                          <small class="text-truncate">"&#64;"brossiter15</small>
                        </div></td>
                    <td class="text-truncate">
                      <div class="d-flex align-items-center">
                        <i class="ri-edit-box-line text-warning ri-22px me-2"></i>
                        <span>Editor</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img src="../../../../../assets/img/avatars/1.png" height="40" alt="message" data-app-light-img="icons/misc/message-light.png" data-app-dark-img="icons/misc/message-dark.png">
                        <div class="ms-4 d-flex flex-column">
                          <p class="mb-0">Pepsodent Herbal Toothpaste</p>
                          <h5 class="mb-0">ROI 2%</h5>
                        </div>
                      </div>
                    </td>
                    <td class="text-truncate"><div>
                          <h6 class="mb-0 text-truncate">Bentlee Emblin</h6>
                          <small class="text-truncate">"&#64;"bemblinf</small>
                        </div></td>
                    <td class="text-truncate">
                      <div class="d-flex align-items-center">
                        <i class="ri-computer-line text-danger ri-22px me-2"></i>
                        <span>Author</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img src="../../../../../assets/img/avatars/1.png" height="40" alt="message" data-app-light-img="icons/misc/message-light.png" data-app-dark-img="icons/misc/message-dark.png">
                        <div class="ms-4 d-flex flex-column">
                          <p class="mb-0">Pepsodent Herbal Toothpaste</p>
                          <h5 class="mb-0">ROI 2%</h5>
                        </div>
                      </div>
                    </td>
                    <td class="text-truncate"><div>
                          <h6 class="mb-0 text-truncate">Bertha Biner</h6>
                          <small class="text-truncate">"&#64;"bbinerh</small>
                        </div></td>
                    <td class="text-truncate">
                      <div class="d-flex align-items-center">
                        <i class="ri-edit-box-line text-warning ri-22px me-2"></i>
                        <span>Editor</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img src="../../../../../assets/img/avatars/1.png" height="40" alt="message" data-app-light-img="icons/misc/message-light.png" data-app-dark-img="icons/misc/message-dark.png">
                        <div class="ms-4 d-flex flex-column">
                          <p class="mb-0">Pepsodent Herbal Toothpaste</p>
                          <h5 class="mb-0">ROI 2%</h5>
                        </div>
                      </div>
                    </td>
                    <td class="text-truncate"><div>
                          <h6 class="mb-0 text-truncate">Beverlie Krabbe</h6>
                          <small class="text-truncate">"&#64;"bkrabbe1d</small>
                        </div></td>
                    <td class="text-truncate">
                      <div class="d-flex align-items-center">
                        <i class="ri-pie-chart-2-line ri-22px text-info me-2"></i>
                        <span>Maintainer</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img src="../../../../../assets/img/avatars/1.png" height="40" alt="message" data-app-light-img="icons/misc/message-light.png" data-app-dark-img="icons/misc/message-dark.png">
                        <div class="ms-4 d-flex flex-column">
                          <p class="mb-0">Pepsodent Herbal Toothpaste</p>
                          <h5 class="mb-0">ROI 2%</h5>
                        </div>
                      </div>
                    </td>
                    <td class="text-truncate"><div>
                          <h6 class="mb-0 text-truncate">Bradan Rosebotham</h6>
                          <small class="text-truncate">"&#64;"brosebothamz</small>
                        </div></td>
                    <td class="text-truncate">
                      <div class="d-flex align-items-center">
                        <i class="ri-edit-box-line text-warning ri-22px me-2"></i>
                        <span>Editor</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img src="../../../../../assets/img/avatars/1.png" height="40" alt="message" data-app-light-img="icons/misc/message-light.png" data-app-dark-img="icons/misc/message-dark.png">
                        <div class="ms-4 d-flex flex-column">
                          <p class="mb-0">Pepsodent Herbal Toothpaste</p>
                          <h5 class="mb-0">ROI 2%</h5>
                        </div>
                      </div>
                    </td>
                    <td class="text-truncate"><div>
                          <h6 class="mb-0 text-truncate">Bree Kilday</h6>
                          <small class="text-truncate">"&#64;"bkildayr</small>
                        </div></td>
                    <td class="text-truncate">
                      <div class="d-flex align-items-center">
                        <i class="ri-user-3-line ri-22px text-success me-2"></i>
                        <span>Subscriber</span>
                      </div>
                    </td>
                  </tr>
                  <tr class="border-transparent">
                    <td>
                      <div class="d-flex align-items-center">
                        <img src="../../../../../assets/img/avatars/1.png" height="40" alt="message" data-app-light-img="icons/misc/message-light.png" data-app-dark-img="icons/misc/message-dark.png">
                        <div class="ms-4 d-flex flex-column">
                          <p class="mb-0">Pepsodent Herbal Toothpaste</p>
                          <h5 class="mb-0">ROI 2%</h5>
                        </div>
                      </div>
                    </td>
                    <td class="text-truncate"><div>
                          <h6 class="mb-0 text-truncate">Breena Gallemore</h6>
                          <small class="text-truncate">"&#64;"bgallemore6</small>
                        </div></td>
                    <td class="text-truncate">
                      <div class="d-flex align-items-center">
                        <i class="ri-user-3-line ri-22px text-success me-2"></i>
                        <span>Subscriber</span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="col-xl-6 col-md-6">
          <div class="card overflow-hidden p-2">
            <div class="table-responsive">
              <h3 class="pl-10">Latest Products</h3>
              <table class="table table-sm">
                <tbody>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img src="../../../../../assets/img/avatars/1.png" height="40" alt="message" data-app-light-img="icons/misc/message-light.png" data-app-dark-img="icons/misc/message-dark.png">
                        <div class="ms-4 d-flex flex-column">
                          <p class="mb-0">Pepsodent Herbal Toothpaste</p>
                          <h5 class="mb-0">ROI 2%</h5>
                        </div>
                      </div>
                    </td>
                    <td class="text-truncate"><div>
                          <h6 class="mb-0 text-truncate">Jordan Stevenson</h6>
                          <small class="text-truncate">"&#64;"amiccoo</small>
                        </div></td>
                    <td class="text-truncate">
                      <div class="d-flex align-items-center">
                        <i class="ri-vip-crown-line ri-22px text-primary me-2"></i>
                        <span>Admin</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img src="../../../../../assets/img/avatars/1.png" height="40" alt="message" data-app-light-img="icons/misc/message-light.png" data-app-dark-img="icons/misc/message-dark.png">
                        <div class="ms-4 d-flex flex-column">
                          <p class="mb-0">Pepsodent Herbal Toothpaste</p>
                          <h5 class="mb-0">ROI 2%</h5>
                        </div>
                      </div>
                    </td>
                    <td class="text-truncate"><div>
                          <h6 class="mb-0 text-truncate">Benedetto Rossiter</h6>
                          <small class="text-truncate">"&#64;"brossiter15</small>
                        </div></td>
                    <td class="text-truncate">
                      <div class="d-flex align-items-center">
                        <i class="ri-edit-box-line text-warning ri-22px me-2"></i>
                        <span>Editor</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img src="../../../../../assets/img/avatars/1.png" height="40" alt="message" data-app-light-img="icons/misc/message-light.png" data-app-dark-img="icons/misc/message-dark.png">
                        <div class="ms-4 d-flex flex-column">
                          <p class="mb-0">Pepsodent Herbal Toothpaste</p>
                          <h5 class="mb-0">ROI 2%</h5>
                        </div>
                      </div>
                    </td>
                    <td class="text-truncate"><div>
                          <h6 class="mb-0 text-truncate">Bentlee Emblin</h6>
                          <small class="text-truncate">"&#64;"bemblinf</small>
                        </div></td>
                    <td class="text-truncate">
                      <div class="d-flex align-items-center">
                        <i class="ri-computer-line text-danger ri-22px me-2"></i>
                        <span>Author</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img src="../../../../../assets/img/avatars/1.png" height="40" alt="message" data-app-light-img="icons/misc/message-light.png" data-app-dark-img="icons/misc/message-dark.png">
                        <div class="ms-4 d-flex flex-column">
                          <p class="mb-0">Pepsodent Herbal Toothpaste</p>
                          <h5 class="mb-0">ROI 2%</h5>
                        </div>
                      </div>
                    </td>
                    <td class="text-truncate"><div>
                          <h6 class="mb-0 text-truncate">Bertha Biner</h6>
                          <small class="text-truncate">"&#64;"bbinerh</small>
                        </div></td>
                    <td class="text-truncate">
                      <div class="d-flex align-items-center">
                        <i class="ri-edit-box-line text-warning ri-22px me-2"></i>
                        <span>Editor</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img src="../../../../../assets/img/avatars/1.png" height="40" alt="message" data-app-light-img="icons/misc/message-light.png" data-app-dark-img="icons/misc/message-dark.png">
                        <div class="ms-4 d-flex flex-column">
                          <p class="mb-0">Pepsodent Herbal Toothpaste</p>
                          <h5 class="mb-0">ROI 2%</h5>
                        </div>
                      </div>
                    </td>
                    <td class="text-truncate"><div>
                          <h6 class="mb-0 text-truncate">Beverlie Krabbe</h6>
                          <small class="text-truncate">"&#64;"bkrabbe1d</small>
                        </div></td>
                    <td class="text-truncate">
                      <div class="d-flex align-items-center">
                        <i class="ri-pie-chart-2-line ri-22px text-info me-2"></i>
                        <span>Maintainer</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img src="../../../../../assets/img/avatars/1.png" height="40" alt="message" data-app-light-img="icons/misc/message-light.png" data-app-dark-img="icons/misc/message-dark.png">
                        <div class="ms-4 d-flex flex-column">
                          <p class="mb-0">Pepsodent Herbal Toothpaste</p>
                          <h5 class="mb-0">ROI 2%</h5>
                        </div>
                      </div>
                    </td>
                    <td class="text-truncate"><div>
                          <h6 class="mb-0 text-truncate">Bradan Rosebotham</h6>
                          <small class="text-truncate">"&#64;"brosebothamz</small>
                        </div></td>
                    <td class="text-truncate">
                      <div class="d-flex align-items-center">
                        <i class="ri-edit-box-line text-warning ri-22px me-2"></i>
                        <span>Editor</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <img src="../../../../../assets/img/avatars/1.png" height="40" alt="message" data-app-light-img="icons/misc/message-light.png" data-app-dark-img="icons/misc/message-dark.png">
                        <div class="ms-4 d-flex flex-column">
                          <p class="mb-0">Pepsodent Herbal Toothpaste</p>
                          <h5 class="mb-0">ROI 2%</h5>
                        </div>
                      </div>
                    </td>
                    <td class="text-truncate"><div>
                          <h6 class="mb-0 text-truncate">Bree Kilday</h6>
                          <small class="text-truncate">"&#64;"bkildayr</small>
                        </div></td>
                    <td class="text-truncate">
                      <div class="d-flex align-items-center">
                        <i class="ri-user-3-line ri-22px text-success me-2"></i>
                        <span>Subscriber</span>
                      </div>
                    </td>
                  </tr>
                  <tr class="border-transparent">
                    <td>
                      <div class="d-flex align-items-center">
                        <img src="../../../../../assets/img/avatars/1.png" height="40" alt="message" data-app-light-img="icons/misc/message-light.png" data-app-dark-img="icons/misc/message-dark.png">
                        <div class="ms-4 d-flex flex-column">
                          <p class="mb-0">Pepsodent Herbal Toothpaste</p>
                          <h5 class="mb-0">ROI 2%</h5>
                        </div>
                      </div>
                    </td>
                    <td class="text-truncate"><div>
                          <h6 class="mb-0 text-truncate">Breena Gallemore</h6>
                          <small class="text-truncate">"&#64;"bgallemore6</small>
                        </div></td>
                    <td class="text-truncate">
                      <div class="d-flex align-items-center">
                        <i class="ri-user-3-line ri-22px text-success me-2"></i>
                        <span>Subscriber</span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
}
</div>
  <!-- Footer -->
  <footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl">
      <div
        class="footer-container d-flex align-items-center justify-content-between py-3 flex-md-row flex-column"
      >
        <div class="text-body mb-2 mb-md-0">
          ©
          <script>
            document.write(new Date().getFullYear());
          </script>
          , made with
          <span class="text-danger"
            ><i class="tf-icons mdi mdi-heart"></i
          ></span>
          <!-- by
          <a
            href="https://themeselection.com"
            target="_blank"
            class="footer-link fw-medium"
            >ThemeSelection</a
          > -->
        </div>
        <!-- <div class="d-none d-lg-inline-block">
          <a
            href="https://themeselection.com/license/"
            class="footer-link me-3"
            target="_blank"
            >License</a
          >
          <a
            href="https://themeselection.com/"
            target="_blank"
            class="footer-link me-3"
            >More Themes</a
          >

          <a
            href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/documentation/"
            target="_blank"
            class="footer-link me-3"
            >Documentation</a
          >

          <a
            href="https://github.com/themeselection/materio-bootstrap-html-admin-template-free/issues"
            target="_blank"
            class="footer-link me-3"
            >Support</a
          >
        </div> -->
      </div>
    </div>
  </footer>
  <!-- / Footer -->
  <div class="content-backdrop fade"></div>
</div>
